<section class="flex w-full max-w-full max-h-screen h-screen" >
  <div class="login-From flex-initial  py-5% max-w-40%  w-full">
    <div class="mx-auto  max-h-15% ">
      <img src="assets/logo.svg" alt="logo" width="170" class=" mb-5% h-5% mx-auto ">
      <h6 class="  text-center  font-medium text-sm   ">Login into your account</h6>
    </div>
    <app-login-form></app-login-form>

  </div>
  <div class="avater flex-initial  max-w-60% w-full h-full bg-bg-color">
    <img src="assets/avater.svg" alt="Avater Image" width="600" class=" h-full m-auto mt-auto">
  </div>
</section>
